@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*General*/
.app{
    background-image: linear-gradient(rgba(233, 240, 255, 0.411), rgba(18, 176, 73, 0.219)), url('https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png');
    background-size:auto ; 
}

.grid{
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 0px 25px;
  }
  
  @media only screen and (min-width: 750px) {
   .grid{
    grid-template-columns: 20% 80%;
   }
  }

    
  
  @media only screen and (max-width: 750px) {
    .grid{
     display: block;
     margin: 0 25px;
    }
    .subreddit{
      padding: 5px 0px;
      overflow: scroll;
    }
   }


/*Header*/
h1{
    font-size: 26px;
   }
   
.header{
    color: #0c080a;
    padding: 10px 25px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: black 1px solid;
    font-family: 'Press Start 2P', cursive;
    
}

.search-bar{
    margin-right: 15px;
}
.submit-button{
    background-color:white;
    border-radius: 4px;
    border: #735e62 1px solid
}
.submit-button:hover{
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    h1{
        padding-bottom: 5px;
    }
    .header{
        display:block;
        text-align: center;
     
    }
    .inputs{
        padding-bottom: 10px
    }
}

@media only screen and (max-width: 900px) {
   
    h1{
        font-size: 18px;
    }
    }
    @media only screen and (max-width: 750px) {
   
        h1{
         font-size: 12px;   
        }
        }

/* Subreddits */

div.subreddit{
    background-color: white;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 5px;
    max-height: 145px;
    margin-bottom: 5px;
    font-family: 'Press Start 2P', cursive;
    

}

li.subreddit-item{
    margin: 10px 0 10px 5px;
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
}
li.subreddit-item:hover{
    color: darkslategray !important;
}
@media only screen and (max-width: 750px) {
   
    div.subreddit{
     margin-right: 0px;   
    }
    }
    @media only screen and (max-width: 1024px) {
   
        div.subreddit{
         font-size: 10px;
         max-height: 115px;
        }
        }


/*Post*/

img{
    max-width: 75%;
    height: auto;
    display: table;
    margin: 0 auto;
  
}


.main-content{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
}

ul.title-list, ul.extra-infos{
display: flex;
justify-content: space-between ;
list-style: none;
height:max-content; 
}

ul.title-list{
    padding: 15px 15px; 
    font-weight: 700; 
}

a.title{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
a.title:hover{
    color: darkslategray;
}


ul.extra-infos{
    padding: 15px 15px; 
    font-weight: 600;
}

div.comment-teaser:hover{
    cursor: pointer;
    color: darkslategray;
    }

span.comment-number{
    margin-left: 3px;
    vertical-align: top;
}

div.main-content {
    margin-bottom: 5px;
}

.loading-message{
    font-family: 'Press Start 2P', cursive;
    padding-left: 15px;
    }



div.small{
    font-size: 12px;
}
div.big{
    font-size: 24px;
    padding-bottom: 800px;
}


@media only screen and (max-width: 750px) {
    .title{
     font-size: 12px
    }
   }
   @media only screen and (max-width: 480px) {
    .title{
     font-size: 10px
    }
   }

/* Ratings */

.ratings{
    font-family: 'Press Start 2P', cursive; 
}

.rating-score{
    vertical-align: top;
}
.minus{
    font-size: 18px;
    font-weight: 100;
    color: red;
    padding-right : 10px;
    vertical-align: top;
}
.minus:hover{
   cursor: pointer;
}
.plus{
    font-size: 18px;
    font-weight: 100;
    color:green;
    padding-left : 10px;
   
}
.plus:hover{
    cursor: pointer;
 }

 .bordered {
    font-size: 22px;
  }
  
  @media only screen and (max-width: 750px) {
    div.ratings{
     font-size: 12px
    }
   }
/*Subreddit*/

ul{
    padding: 0; 
    margin: 0;
}
li.subreddit-item{
flex-direction: column;
color: blue;
padding-left: 5px;
text-align: left;
}

li{
    list-style: none; 
  
}

li.subreddit-item:hover {
    color: green;
    cursor: pointer;
    
}

@media only screen and (max-width: 480px) {
    ul,li{
        font-size: 12px;
        display: inline;
        
    }
}

/* Comments */

ul.comments-infos{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li.comments-name, .comments-date{
    padding: 5px 15px;
    
}


li.comments-name{
    font-weight: bold;
}
p.comments-body{
    padding: 5px 15px
}
.arrow-icon:hover{
cursor: pointer;
}

.no-comments{
    padding: 5px 15px;
    font-weight: 700;
}